.face-expression {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.face-expression .face-video-container {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 1rem;
  overflow: hidden;
}

.face-video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.face-video-container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.overlay .grant-access-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.05rem;
  border-radius: 0.5rem;
  background-color: hsl(from var(--clr-secondary) h s l / 0.8);
  color: var(--clr-bg);
}

.details-container {
  margin-top: 2rem;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.details-container .details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.details-container .details h2 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.05rem;
  word-wrap: break-word;
}

.details-container .details p {
  width: calc(100vw - 2rem);
  max-width: 40ch;
  font-size: 1rem;
  font-weight: 400;
  color: hsl(from var(--clr-fg) h s l / 0.6);
}

.detect-button-container {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  /* gap: 0.5rem; */
}
.detect-button-container .detect-btn {
  width: max-content;
  width: 7.8rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.05rem;
  border-radius: 0.5rem;
  background-color: var(--clr-secondary);
  color: var(--clr-bg);
  transition: background-color 0.4s linear, scale 0.4s ease-in-out;
}
.detect-button-container .detect-btn:hover {
  background-color: hsl(from var(--clr-secondary) h s l / 0.8);
  scale: 0.98;
}

.detect-button-container .detect-btn:active {
  background-color: hsl(from var(--clr-secondary) h s l / 0.6);
}
.detect-button-container .detect-btn:disabled {
  background-color: hsl(from var(--clr-secondary) h s l / 0.6);
}
.detect-button-container span {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  color: hsl(from var(--clr-fg) h s l / 0.8);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.detect-button-container span .click-arrow {
  transition: opacity 0.8s linear;
  animation: arrowmove alternate infinite 0.8s linear;
}
.detect-button-container span .click-arrow-shadow {
  transform: translateX(-100%);
  transition: opacity 0.8s linear;
  animation: arrowmove alternate-reverse infinite 0.8s linear;
}
@keyframes arrowmove {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 768px) {
  .face-expression {
    flex-direction: row;
    gap: 2rem;
  }
  .face-expression .face-video-container {
    width: 25rem;
  }

  .details-container .details p {
    width: 35ch;
  }
}
