.app {
  width: 100%;
  height: 100dvh;
  overflow-y: scroll;
}
.app::-webkit-scrollbar {
  display: none;
}

.app .app-title {
  font-size: 2rem;
  font-weight: 400;
  color: var(--clr-secondary);
}

.app footer {
  margin-top: 2rem;
  position: sticky;
  top: 100%;
  text-align: center;
  font-size: 0.9rem;
  color: var(--clr-fg);
  padding-bottom: 2rem;
}

.app footer a {
  color: var(--clr-secondary);
  text-decoration: none;
}
.app footer a:hover {
  text-decoration: underline;
}
